.principalClass{

    background-image: url('/public/images/suricatoqtl.jpg') !important;
    background-repeat:no-repeat !important;
    background-size: 100% 100% !important;
    background-position:top !important;

}